<!DOCTYPE html>
<html>
<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=BioRhyme' rel='stylesheet' type='text/css'>
  <head>
    <title>Bookblog</title>
    <%= csrf_meta_tags %>
    <head>

    </head>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="window" style="width:1080px; margin:0 auto; padding-top:0px">
      <div class="thecontainer">
        <div class="background"></div>
          <div class="text">
            <h3 style="font-family:BioRhyme; font-size: 7em;">Booksack Blog</h3>
          </div>
      </div>
      <div class="linkz">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
           <div class="navbar-brand" style="padding-right:20px"><a>About</a></div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-link active"><a>The Last Book I ready</a></li>
              <li class="nav-link active"><a>The One Before That</a></li>
              <li class="nav-link active toggle-right"><a>And the One Before That</a></li>
            </ul>
            <% if current_user %>
            <ul class="navbar-nav mr-auto navbar-right login">
              <!-- <li class="nav-link active toggle-right avatar"><%= image_tag current_user.image_url, alt: current_user.name %></li> -->
              <li class="nav-link active toggle-right">Welcome, <%= current_user.name.split(" ")[0] %>!</li>

              <li class="nav-link active toggle-right login"><a><%= link_to 'Log Out', logout_path, method: :delete %></li>
            </ul>
            <% else %>
            <ul class="navbar-nav navbar-right logout">
                <li class="nav-link active toggle-right logout"><a><%= link_to 'Login to Comment', '/auth/facebook' %></a></li>
            </ul
            <% end %>
          <div>
        </nav>
      </div>

      <%= yield %>
    </div>
  </body>


</html>
